doctype html
head
    meta(charset='utf-8')
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    if DIR == "/build"
        link(rel='stylesheet' href=`${DIR}/css/admin_panel.css`)
        script(src=`${DIR}/js/jquery.js`)
        script(src=`${DIR}/js/client/admin_panel.js`)
        script(src=`${DIR}/js/client/request.js`)
    else 
        script(src=`${DIR}/js/admin_panel.js`)

div.main

    div.header 
        p 
            ="Список пользователей"

    div.users_table