doctype html
head
    meta(charset='utf-8')
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    if DIR == "/build"
        link(rel='stylesheet' href=`${DIR}/css/user.css`)
        script(src=`${DIR}/js/jquery.js`)
        script(src=`${DIR}/js/client/user.js`)
        script(src=`${DIR}/js/client/request.js`)
    else 
        script(src=`${DIR}/js/user.js`)

div.main 
    div.user_info

    div.buttons
        button.friends
            ="Друзья"

        button.news
            ="Новости"

        button.back
            ="Вернуться назад"


    div.user_change_info
        p
            ="Изменить данные?"
        div
            input.name(type="text")
            input.date(type="date")
            input.email(type="email")

            select.role
                option(value="Пользователь")
                    ="Пользователь"
                option(value="Администратор")
                    ="Администратор"

            select.status
                option(value="Неподтвержденный")
                    ="Неподтвержденный"
                option(value="Активный")
                    ="Активный"
                option(value="Заблокированный")
                    ="Заблокированный"
            
        button.save
            ="Сохранить изменения"
